docs/
dev/
dev2/
scratch/


## Rust ignore
**/target/**
**/*.exe
**/*.dll
**/*.so
**/*.dylib

# Build artifacts and lock files
Cargo.lock
*.log

src/raster-decompose/gdal/*
src/raster-decompose/gdal2/*